*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgb(250, 135, 3) 20%, #2b239b 40%);
    animation: float 6s infinite alternate;
    
}

section{
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: wheat;
    width: 500px;
    height: 700px;
    align-items: center;
    text-align: center;
    box-shadow: 2px 15px 20px #000000;
    gap: 150px;
}


.preco{
    display: flex;
    gap: 1px;
    margin: -140px;
}


header img{
    width: 150px;
    height: 150px;
    padding: 40px;
}

header h2{
    color: #2b239b;
}

header p{
    color: #2b239b;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    margin: -100px;
}

main a{
    background: #2b239b;
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 20px;
    transition: all .1s ease-in-out;
    box-shadow: 10px 10px rgb(250, 135, 3);
}

main a:hover{
    opacity: .85;
}

.footer{
    color: white;
    position: absolute;
    bottom: 20px;
}

@media (max-width: 520px){
    section{
        width: 90%;
        padding: 30px;
    }



    header img{
        width: 100%;
    }
    header h3{
        font-size: 1.3rem;
        color: black;
}

main{
    gap: 15px;
}

main a{
    padding: 10px 0;
    box-shadow: 5px 5px white;
}
}


.botao{
    padding: 10px;
    border-radius: 15px;
    margin: -20px;
    
}

